# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.build/
dist/
.env
.ma_venv
venv/
pip-wheel-metadata/

# Notebooks
.ipynb_checkpoints/



# IDE / editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs / cache
logs/
*.log
.cache/
wandb/
mlruns/

# Data / models (adjust as needed)
data/
datasets/
checkpoints/
snapshots_grid/
mor_results/
GCNN_tests/
new_wave/
pdes/
test_wave_CL_galerkin_old.py
test_wave_pod_galerkin_old.py
compute_mean_of_csv_files.py
deep_galerkin_utilities_bdf.py
pod_galerkin_utilities_BDF.py
pod_galerkin_utilities_IMR.py 
pod_lspg_utilities_IMR.py
*.pt
*.pth
*.ckpt

# Build artifacts
*.so
*.dll

# PyTest / coverage
.pytest_cache/
.coverage
htmlcov/. \ t e s t s \ w a v e \ m o r _ r e s u l t s \  
 